<head>
  <meta charset="utf-8">
  <title>{%block title %} K-Search {% endblock %}</title>
    <script type="text/javascript" src="//code.jquery.com/jquery-1.12.0.min.js"></script>
    <script type="text/javascript" src="C:/Escritorio/Django/Proyecto_K-Search/buscador/static/buscador/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.2-rc.1/js/select2.min.js"></script>

    <link rel="stylesheet" href="../../static/buscador/css/styles.scss" type="text/css">
    <link rel="stylesheet" href="../../static/buscador/css/flexboxgrid.css" type="text/css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.2-rc.1/css/select2.min.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    
    <!--
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link href="C:/Escritorio/Proyectos/Calend/calendario/static/calendario/css/select2.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="../../static/calendario/css/my_styles.css" type="text/css">
    <script src="C:/Escritorio/Proyectos/Calend/calendario/static/calendario/js/select2.min.js"></script>
    -->

</head>

<header>
    <nav class="be-red large-padding">
        <ul class="no-list row center-xs middle-xs">
            <li class="col-md col-xs"><h1 class="no-margin"><a href="/">K-Search</a></h1></li>
            <li class="col-md col-xs">Inicio</li>
            <li class="col-md col-xs">Wea1</li>
            <li class="col-md col-xs">Wea2</li>
            <li class="col-md col-xs">Wea3</li>
        </ul>
    </nav>
</header>

  {% block content %}
  {% endblock %}


<footer class="be-red row center-xs middle-xs">
    <div style="margin-bottom: 30px">
        <a href="/"><h1>K-Search</h1></a>

        <hr style="border-top: 1px solid black;">

            <div>
                Copyright © Uneed
            </div>

    </div>
</footer>

    
</footer>