<head>
  <meta charset="utf-8">
  <title>{%block title %} K-Search {% endblock %}</title>
    <script type="text/javascript" src="/../../static/buscador/js/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="/../../static/buscador/js/bootstrap.min.js"></script>
    <script src="/../../static/buscador/js/my_scripts.js"></script>


    <link href="https://fonts.googleapis.com/css?family=Patua+One" rel="stylesheet">
    
    <link rel="stylesheet" href="/../../static/buscador/css/bootstrap/bootstrap.css" type="text/css">
    <link rel="stylesheet" href="/../../static/buscador/css/flexboxgrid.css" type="text/css">
    <link rel="stylesheet" href="/../../static/buscador/css/my_styles.css" type="text/css">
    
</head>


<header class="header">
    <nav class="be-green large-padding">
        <ul class="no-list row center-xs middle-xs">
            <li class="col-md col-xs"><h1 class="no-margin"><a href="/buscador/">K-Search</a></h1></li>
            <li class="col-md col-xs">Ver contenidos</li>

            {% if conected %}
                
                {% if can_crud_contenidos %}
                    <!--
                    <li class="col-md col-xs"><a href="/registro/">Registrar usuario</a></li>-->
                    
                    <div class="dropdown">
                      <button class="dropbtn">Opciones</button>
                      <div class="dropdown-content">
                        {% if es_admin %}
                        <a href="/admin/">Panel Administración</a>
                        <a href="/registro/">Registrar Usuario</a>
                        {% endif %}
                        <a href="/buscador/paginas-de-confianza/">Paginas de Confianza</a>
                      </div>
                    </div>

                {% endif %}

                <li class="col-md col-xs">
                    <form class="row center-xs middle-xs" method="get">
                        <p style="margin-top:23px">Sesion iniciada como: {{ u_name }}</p>
                        <input class="boton-header be-orange" type="submit" value="Salir" name="salir">
                    </form>
                </li>

            {% else %}
                <li class="col-md col-xs"><a href="/">Iniciar Sesion</a></li>
            {% endif %}



        </ul>
    </nav>
</header>

  {% block content %}
  {% endblock %}


<footer class="be-green footer row center-xs middle-xs">
    <div style="margin-bottom: 30px">
        <a href="/"><h1>K-Search</h1></a>

        <hr class="hr_style">

        <div>  Copyright © Uneed  </div>

    </div>
</footer>

    
</footer>