{% extends 'buscador/header.html' %}

    {% block content %}

<body>

    
    <div class="no-list row center-xs middle-xs" id= "main-content"  action="/results/" method="post">

        <div style="height:1000px">
                <div class="button_box2">
            <form class="form-wrapper-2 cf">
            <input type="text" placeholder="Search here..." required>
            <button type="submit">Search</button>
            </form>
            </div>
        </div>

    </div>

</body>

{% endblock %}

