{% extends 'buscador/header.html' %}

    {% block content %}

<body>

    
    <div class="no-list row center-xs middle-xs">

        <div style="height:1100px">

            <div class="main_div">

                <div>
                <p class="main_title">Bienvenido al futuro en busquedas</p>
                <p class="sub_title">Motor de busqueda de contenidos web</p>
                </div>


                <div class="button_box2 row center-xs middle-xs">
                    <form class="form-wrapper-2 cf" id= "main-content"  action="/buscador/" method="post">
                    {% csrf_token %}
                    <input id='search' name ='search' type="text" placeholder="Escribe algo para buscar contenidos..." required>
                    <button type="submit" id="btn-search">K-Search</button>
                    </form>

                </div>

                <div class="main_div_images center-xs">
                        
                    <img class="main_images" src="../../static/buscador/Images/mapas-y-banderas.png">
                    <img class="main_images" src="../../static/buscador/Images/mapas-y-banderas.png">
                    <img class="main_images" src="../../static/buscador/Images/mapas-y-banderas.png">

                </div>

            </div>

            
        </div>

    </div>

</body>

{% endblock %}

