{% extends 'buscador/header.html' %}

    {% block content %}

<body>
        
    <form id= "main-content"  action="/calendario/" method="post">
        <div class="container-fluid">
            <div class="row content image">
            <p>Modificación de plano regulador de los Molles y Pichidangui</p>
            </div>
            <div class="row content">
                <div class="block col-md-1">
                </div>
                <div class="block col-md-5">
                <p class="block-text" >Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute </p>
                </div>
                <div class="block col-md-5">
                <p class="block-text" >Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute </p>
                </div>
                <div class="block col-md-1">
                </div>
            </div>
            <div class="row">
                <div class="block col-md-4">
                <p class="block-text" >Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute </p>
                </div>
                <div class="block col-md-4">
                <p class="block-text" >Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute </p>
                </div>
                <div class="block col-md-4">
                <p class="block-text" >Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute </p>
                </div>
            </div>
            <div class="row" style="margin-left: 0px">
                <h2 style="margin-left: 0px" >Otros casos en los que trabajamos:</h2>
                <div class="row">
                    <div class="small-image col-md-4" style="background-image: url(../../static/Informar/Images/martillo.jpg)"><p>Caso N:</p></div>
                    <div class="small-image col-md-4" style="background-image: url(../../static/Informar/Images/martillo.jpg)"><p>Caso N:</p></div>
                    <div class="small-image col-md-4" style="background-image: url(../../static/Informar/Images/martillo.jpg)"><p>Caso N:</p></div>
                </div>
                <div class="row">
                    <div class="small-image col-md-4" style="background-image: url(../../static/Informar/Images/martillo.jpg)"><p>Caso N:</p></div>
                    <div class="small-image col-md-4" style="background-image: url(../../static/Informar/Images/martillo.jpg)"><p>Caso N:</p></div>
                    <div class="small-image col-md-4" style="background-image: url(../../static/Informar/Images/martillo.jpg)"><p>Caso N:</p></div>
                </div>
            </div>

            <div class="row content image">
            <p>Modificación de plano regulador de los Molles y Pichidangui</p>
            </div>
            <div class="row content">
                <div class="block col-md-1">
                </div>
                <div class="block col-md-5">
                <p class="block-text" >Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute </p>
                </div>
                <div class="block col-md-5">
                <p class="block-text" >Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute </p>
                </div>
                <div class="block col-md-1">
                </div>
            </div>
            <div class="row">
                <div class="block col-md-4">
                <p class="block-text" >Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute </p>
                </div>
                <div class="block col-md-4">
                <p class="block-text" >Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute </p>
                </div>
                <div class="block col-md-4">
                <p class="block-text" >Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute </p>
                </div>
            </div>



            <div class="row content image">
            <p>Modificación de plano regulador de los Molles y Pichidangui</p>
            </div>
            <div class="row content">
                <div class="block col-md-1">
                </div>
                <div class="block col-md-5">
                <p class="block-text" >Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute </p>
                </div>
                <div class="block col-md-5">
                <p class="block-text" >Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute </p>
                </div>
                <div class="block col-md-1">
                </div>
            </div>
            <div class="row">
                <div class="block col-md-4">
                <p class="block-text" >Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute </p>
                </div>
                <div class="block col-md-4">
                <p class="block-text" >Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute </p>
                </div>
                <div class="block col-md-4">
                <p class="block-text" >Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute </p>
                </div>
            </div>




            <!-- Nombre -->
            <div class="row">
                <div class="col-md-3">
                </div>
                <div class="col-md-6">
                </div>
                <div class="col-md-3">
                </div>
            </div>
        </div>

    </form>

</body>

{% endblock %}

