{% extends 'buscador/header.html' %}

    {% block content %}

<body>

    <div class="container-fluid main_div2 formulario2 con-sombrita">
        <div style="min-height:1000px">
            {% csrf_token %}
            <div>
            
                <h2>Resultados de la busqueda</h2>

                <p class="instruction">Selecciona los links de los cuales extraer contenidos</p>

                <ul class="row center-xs middle-xs no-list">

                    <form action="resultados/" method="post" name="urls_a_extraer" id="urls_a_extraer">

                    {% csrf_token %}
                    {% if resultados %}

                        {% for resultado in resultados %}

                            <div class="col-md-10">
                                <a href="{{ resultado.link }}" target="_blank">

                                      <li class="resultado">

                                          <img src="/../../static/buscador/Images/mapas-y-banderas.png" >

                                          <p>{{ resultado.name }}</p>
                                        
                                      </li>
                                </a>
                            </div>

                            <div class="col-md-2">
                                <div class="checkbox">
                                    <label><input type="checkbox" name="seleccion-link" value="{{ resultado.index }}" required>Seleccionar</label>
                                </div>
                            </div>

            

                        {% endfor %}

                    {% else %}

                        <h2>No se han encontrado resultados</h2>
                        
                    {% endif %}

                </ul>

                <button type="submit" id="btn_contenidos" class="btn btn-warning btn-lg">Extraer Contenidos</button>

              </form>
            </div>
        </div>
    </div>
</body>

{% endblock %}