{% extends 'buscador/header.html' %}

    {% block content %}

<body>

    <div class="no-list row center-xs middle-xs">
        <div style="min-height:1000px">
            {% csrf_token %}
            <div class="main_div">
            
                <h1>Resultados de la busqueda</h1>

                <ul class="no-list">

                    {% if resultados %}

                        {% for resultado in resultados %}

                            <a href="{{ resultado.link }}" target="_blank">

                              <li class="resultado">

                              <img src="/../../static/buscador/Images/mapas-y-banderas.png" >

                              <p>{{ resultado.name }}</p>

                              <!--
                                <img class="w3-left w3-circle w3-margin-right" src="../../static/buscador/Images/mapas-y-banderas.png" style="width:50px; margin-bottom:4px">
                                -->
                                
                              </li>
                            </a>

                        {% endfor %}

                    {% else %}

                        <h2>No se han encontrado resultados</h2>
                        
                    {% endif %}

                </ul>
            </div>
        </div>
    </div>
</body>

{% endblock %}