{% extends 'buscador/header.html' %}

    {% block content %}

    <script src="/../../static/buscador/js/masonry.pkgd.js"></script>

<body>

    <div class="container-fluid main_div2 formulario2 con-sombrita">
        <div class="d-flex flex-nowrap" style="min-height:1000px">
            {% csrf_token %}
            <div>
            
                <h2>Contenidos guardados en el sistema</h2>

                <p class="instruction">Los contenidos estan ordenados por la busqueda realizada</p>

                <ul class="row center-xs middle-xs no-list">
                

                    {% if contenidos %}

                    <form action="/buscador/ver-contenidos/" method="post" name="seleccion_form" id="seleccion_form">
                    {% csrf_token %}
                        
                        <select class="contenidos_ver" name="contenidos_ver" multiple hidden>

                        {% for i in range_contenidos %}    
                            <option value="{{ forloop.counter }}">{{ forloop.counter }}</option>
                        {% endfor %}

                        </select>


                        <select class="imagenes_ver" name="imagenes_ver" multiple hidden>

                        {% for j in range_links_imagenes %}    
                            <option value="{{ forloop.counter }}">{{ forloop.counter }}</option>
                        {% endfor %}

                        </select>  


                        <div class="grid">

                            <div class="container">
                                <div class="row seccion-extraccion-contenidos">
                                    <div class="col-md-1">
                                        <img id="seccion-option1" src="../../static/buscador/Images/play-button.png">
                                    </div>
                                    <div class="col-md-2">
                                        <p>Contenidos</p>
                                    </div>
                                    <div class="col-md-9 col-md-offset-9"></div>
                                </div>
                            </div>

                            <div class="row div-contenidos">

                            {% for contenido in contenidos %}

                                <div id="{{ forloop.counter }}" class="grid-item-ver con-sombrita cont">
                                    {{ contenido.info|linebreaksbr }}
                                    <div class="tag">
                                        <div>{{ contenido.tag.nombre_tag }}</div>
                                    </div>
                                </div>


                            {% endfor %}

                            </div>
                            
                            <div class="container">
                                <div class="row seccion-extraccion-imagenes">
                                    <div class="col-md-1">
                                        <img id="seccion-option2" src="../../static/buscador/Images/play-button.png">
                                    </div>
                                    <div class="col-md-2">
                                        <p>Imagenes</p>
                                    </div>
                                </div>
                            </div>


                            <div class="row div-imagenes">
                                
                            {% for link in imagenes %}

                                <div id="{{ forloop.counter }}" class="grid-item-ver con-sombrita img">
                                    <img class="imagen" src="{{ link.info }}">
                                    <div class="tag">
                                        <div class="text">{{ link.tag.nombre_tag }}</div>
                                    </div>
                                </div>
  

                            {% endfor %}

                            </div>
                            
                            <br>

                            <div class="col-md-5 col-md-offset-7">
                                    <div class="row" id="input-tags" style="margin-top: 30px; display: none">
                                            <p style="margin-top: 9px">Añadir Tag</p>
                                            <div class="col-md-5">
                                            
                                                <select class="form-control padding-bottom-0" name="cambio_tag" required>

                                                {% if tags %}

                                                  {% for tag in tags %}

                                                    <option>{{tag.nombre_tag}}</option>

                                                  {% endfor %}

                                                {% endif %}

                                                </select>
                                            </div>
                                            <div class="col-md-4">
                                            <input class="submit btn be-orange" type="submit" value="Añadir"/>
                                            </div>
                                        </div>
                                        <!--
                                <button type="submit" id="btn_save_contenidos" class="btn btn-warning btn-lg" style="display: none;">Guardar Contenidos</button>
                                -->
                            </div>


                        </div>

                    </form>



                    {% else %}

                        <h2>No se han encontrado contenidos</h2>
                        
                    {% endif %}

                </ul>
            </div>
        </div>
    </div>
</body>

{% endblock %}