html,body{
	margin:0px;
	font-family: 'Patua One', cursive;
	font-size: 15px;
	background-color: #BCFF62;
	max-width: 100%;
    overflow-x: hidden;
}

a,a:visited, a:hover, a:focus, a:active{
	color: inherit;
	text-decoration: none;
}


#logo{
	font-size: 1.2em;
}

.boton{
	background-color: inherit;
	border: none;
	outline: none;
	text-transform: uppercase;
	cursor: pointer;
	font-size: 1.2em;
	padding: 10px 20px;
}

.boton-header{
	margin-left: 10px;
	margin-top: 10px;
	background-color: inherit;
	border: none;
	outline: none;
	text-transform: uppercase;
	cursor: pointer;
	font-size: 1.2em;
	padding: 10px 20px;

	border-radius: 10px 10px 10px 10px;
	-moz-border-radius: 10px 10px 10px 10px;
	-webkit-border-radius: 10px 10px 10px 10px;
	border: 0px solid #000000;
}

.header{
	-webkit-box-shadow: 0px 5px 19px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 5px 19px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 5px 19px 0px rgba(0,0,0,0.75);
}

.session-box .session-name{
	margin-top: 20px;
}

.session-box input{
	margin-left: 10px;
}


.footer{
	margin: 0px;
	margin-top: auto;

	-webkit-box-shadow: 0px -2px 19px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px -2px 19px 0px rgba(0,0,0,0.75);
	box-shadow: 0px -2px 19px 0px rgba(0,0,0,0.75);
}

.main_div{
	margin-top: 100px;
	margin-bottom: 100px;
	margin-right: auto;
	margin-left: auto;
}


.formulario{
	background-color: #A6E84D;
}

.formulario h2{
	margin-bottom: 30px;
	border-bottom: 1px solid black;
	padding-bottom: 15px;
}

.formulario button{
	margin-top: 20px;
	margin-bottom: 10px;
}

.formulario input, select{
	border-bottom: none !important;
	padding-left: 5px;
}


.error-box{
	font-family: "Helvetica Neue",sans-serif;
}


.register-icon{
	width: 400px;
	height: 450px;
	margin-top: 30px;
	margin-left: 25px;
}



.main_title{
	font-size: 70px;
}

.sub_title{
	font-size: 25px;
	color: grey;
}




.main_images{
	height: 300px;
}

.main_div_images{
	margin-bottom: 100px;
}

.mini_image{
	width:50px;
	margin-bottom:5px;
}



.resultado{
	height:60px;
	width: 1000px;
	background-color: #94C08E;
}

.resultado:hover {
	background: #6BA262;
}

.resultado p{
	margin-top: 0px;
	font-size: 25px;
	padding-top: 11px;
}

.resultado img{
	width: 50px;
	margin-top: 8px;
	float: left;
}




.con-sombra{

	-webkit-box-shadow: 0px 5px 19px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 5px 19px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 5px 19px 0px rgba(0,0,0,0.75);
}


.redondo{
	border-radius: 10px 10px 10px 10px;
	-moz-border-radius: 10px 10px 10px 10px;
	-webkit-border-radius: 10px 10px 10px 10px;
	border: 0px solid #000000;
}



.no-margin{
	margin: 0px;
}

.be-green{
	background-color: #92FF00
}

.be-yellow{
	background-color: yellow;
}

.be-orange{
	background-color: #f0ad4e;
}

.hr_style{
	border-top: 1px solid black;
}

.be-white{
	background-color: white
}

.no-list{
	list-style: none
}

.large-padding{
	padding: 15px 7px;
}

.field{
	margin-top: 10px;
}

.form-control{
	border: none;
	border-bottom: 1px solid;
	outline: none;
	display: block;
	padding: 10px 0px;
	font-size: 1.2em;
}

.height_200px{
	height: 200px;
}

.padding-bottom-0{
	padding-bottom: 0px;
}







/* SEARCH BOX ------------------------------------------ */

.button_box2 {
margin:120px auto;
}
/*-------------------------------------*/
.cf:before, .cf:after{
content:"";
display:table;
}
.cf:after{
clear:both;
}
.cf{
zoom:1;
}
/*-------------------------------------*/

.form-wrapper-2 {
width: 830px;
padding: 15px;
background: #555;
-moz-border-radius: 10px;
-webkit-border-radius: 10px;
border-radius: 10px;
-moz-box-shadow: 0 1px 1px rgba(0,0,0,.4) inset, 0 1px 0 rgba(255,255,255,.2);
-webkit-box-shadow: 0 1px 1px rgba(0,0,0,.4) inset, 0 1px 0 rgba(255,255,255,.2);
box-shadow: 0 1px 1px rgba(0,0,0,.4) inset, 0 1px 0 rgba(255,255,255,.2);
}

.form-wrapper-2 input {
width: 680px;
height: 50px;
padding: 10px 5px;
float: left;
font: bold 25px 'Raleway', sans-serif;
border: 0;
background: #eee;
-moz-border-radius: 3px 0 0 3px;
-webkit-border-radius: 3px 0 0 3px;
border-radius: 3px 0 0 3px;


-webkit-box-shadow: 0px 6px 28px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 6px 28px 0px rgba(0,0,0,0.75);
box-shadow: 0px 6px 28px 0px rgba(0,0,0,0.75);

}
.form-wrapper-2 input:focus {
outline: 0;
background: #fff;
-moz-box-shadow: 0 0 2px rgba(0,0,0,.8) inset;
-webkit-box-shadow: 0 0 2px rgba(0,0,0,.8) inset;
box-shadow: 0 0 2px rgba(0,0,0,.8) inset;
}
.form-wrapper-2 input::-webkit-input-placeholder {
color: #999;
font-weight: normal;
font-style: italic;
}
.form-wrapper-2 input:-moz-placeholder {
color: #999;
font-weight: normal;
font-style: italic;
}


.form-wrapper-2 input:-ms-input-placeholder {
color: #999;
font-weight: normal;
font-style: italic;
}
.form-wrapper-2 button {
overflow: visible;
position: relative;
float: right;
border: 0;
padding: 0;
cursor: pointer;
height: 50px;
width: 110px;
font: bold 15px/40px 'Raleway', sans-serif;
color: #fff;
text-transform: uppercase;
background: #D88F3C;
-moz-border-radius: 0 3px 3px 0;
-webkit-border-radius: 0 3px 3px 0;
border-radius: 0 3px 3px 0;
text-shadow: 0 -1px 0 rgba(0, 0 ,0, .3);


-webkit-box-shadow: 0px 6px 28px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 6px 28px 0px rgba(0,0,0,0.75);
box-shadow: 0px 6px 28px 0px rgba(0,0,0,0.75);

}
.form-wrapper-2 button:hover{
background: #FA8807;
}


.form-wrapper-2 button:active,
.form-wrapper-2 button:focus{
background: #c42f2f;
}
.form-wrapper-2 button:before {
content: '';
position: absolute;
border-width: 8px 8px 8px 0;
border-style: solid solid solid none;
border-color: transparent #D88F3C transparent;
top: 15px;
left: -6px;
}
.form-wrapper-2 button:hover:before{
border-right-color: #FA8807;
}
.form-wrapper-2 button:focus:before{
border-right-color: #c42f2f;
}
.form-wrapper-2 button::-moz-focus-inner {
border: 0;
padding: 0;
}


